
<h3>Start</h3>
<li><a target="_blank" href="index.html">Get help to retrain</a></li>

<h3>Understand yourself</h3>
<li><a target="_blank" href="step-by-step-1.html">Get help to retrain: step by step (1)</a></li>
<li><a target="_blank" href="skills-start.html">Check your skills and experience</a></li>
<li><a target="_blank" href="results.html">Retrain to do these jobs</a></li>
<li><a target="_blank" href="details.html">Retrain to be a [target job]</a></li>

<h3>Find a course</h3>
<li><a target="_blank" href="step-by-step-2.html">Get help to retrain: step by step (2)</a></li>
<li><a target="_blank" href="communication.html">Find a communications level 3 course</a></li>
<li><a target="_blank" href="course-detail.html">Communication level 3 courses near you</a></li>
<li><a target="_blank" href="course-results.html">Course detail page</a></li>
<li><a target="_blank" href="provider.html">Course provider page</a></li>

<h3>Find a job</h3>
<li><a target="_blank" href="step-by-step-3.html">Get help to retrain: step by step (3)</a></li>
<li><a target="_blank" href="find-a-job.html">Find a job service start</a></li>
