<!doctype html>
<html class="no-js">

<head>
  {% include "includes/provider-style.html" %}

</head>

<body style="font-family: san-serif !important;">

  <!--tag man text-->
  <div class="container light-blue">
    <header class="mobile show-in-tablet">
      <div class="menu" onclick=" void(0); "></div>
      <div class="logo">
        <a href="#">
          <img src="/public/images/citycollege.png" alt="Your City College"></a>
      </div>
      <div class="search" onclick=" void(0); "></div>
    </header>

    <nav class="main hide-in-tablet">
      <div class="row">
        <div class="span12">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">The College</a>
              <div class="row subnav">
                <div class="span4 description">
                  <h1>The College</h1>
                  <p>All about us.</p>
                </div>
                <div class="span8 links">
                  <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">College Vision, Mission &amp; Values</a></li>
                    <li><a href="#">British Values</a></li>
                    <li><a href="#">Safeguarding &amp; Prevent</a></li>
                    <li><a href="#">Equality &amp; Diversity</a></li>
                    <li><a href="#">Facts &amp; Statistics</a></li>
                    <li><a href="#">National 16 to 18 performance tables</a></li>
                    <li><a href="#">Corporate Documents</a></li>
                    <li><a href="#">College Campuses &amp; Centres</a></li>
                    <li><a href="#">College term dates for 2017/ 18</a></li>
                    <li><a href="#">College term dates 2018/ 19</a></li>
                    <li><a href="#">Keighley College term dates 2018/ 19</a></li>
                    <li><a href="#">Knowledge Bank</a></li>
                    <li><a href="#">Governance</a></li>
                    <li><a href="#">Engagement</a></li>
                    <li><a href="#">School Liaison Team</a></li>
                    <li><a href="#">Jobs and Careers</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" active"><a href="#">Courses &amp; Apprenticeships</a>
              <div class="row subnav">
                <div class="span4 description">
                  <h1>Courses &amp; Apprenticeships</h1>
                  <p>What&#39;s on offer.</p>
                </div>
                <div class="span8 links">
                  <ul>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Your Sixth Form</a></li>
                    <li><a href="#">Prospectuses</a></li>
                    <li><a href="#">Traineeships</a></li>
                    <li><a href="#">Apprenticeships</a></li>
                    <li><a href="#">How to Apply</a></li>
                    <li><a href="#">University Centre</a></li>
                    <li class="active"><a href="#">Adult &amp; Part Time Courses</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="#">Employers</a>
              <div class="row subnav">
                <div class="span4 description">
                  <h1>Employers</h1>
                  <p>Working with your business.</p>
                </div>
                <div class="span8 links">
                  <ul>
                    <li><a href="#">Apprenticeships For Your Business</a></li>
                    <li><a href="#">Apprenticeship Reforms</a></li>
                    <li><a href="#">Staff Training</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Our Partners</a></li>
                    <li><a href="#">ESIF Funding Partners</a></li>
                    <li><a href="#">Documents</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="#">Student Life</a>
              <div class="row subnav">
                <div class="span4 description">
                  <h1>Student Life</h1>
                  <p>Enjoying College.</p>
                </div>
                <div class="span8 links">
                  <ul>
                    <li><a href="#">Student Support</a></li>
                    <li><a href="#">Life in Your</a></li>
                    <li><a href="#">Fees &amp; Finance</a></li>
                    <li><a href="#">Students&#39; Union</a></li>
                    <li><a href="#">Sports Academy</a></li>
                    <li><a href="#">European Projects</a></li>
                    <li><a href="#">Get Active!</a></li>
                    <li><a href="#">Learning Support</a></li>
                    <li><a href="#">Careers </a></li>
                    <li><a href="#">Competition T&amp;C</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="#">What&#39;s Happening</a>
              <div class="row subnav">
                <div class="span4 description">
                  <h1>What&#39;s Happening</h1>
                  <p></p>
                </div>
                <div class="span8 links">
                  <ul>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">News</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="#">Contact</a></li>
            <li class="icon-basket"><a href="#">Store</a></li>
          </ul>

        </div>
      </div>
    </nav>



    <div class="blackout" id="blackout">
      <nav class="mobile" id="mobile-menu">
        <div class="logo"><a href="#"><img src="/public/images/citycollege.png" alt="Your City College"></a></div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#" class=" sub">The College</a>
            <div class="subnav">
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">College Vision, Mission &amp; Values</a></li>
                <li><a href="#">British Values</a></li>
                <li><a href="#">Safeguarding &amp; Prevent</a></li>
                <li><a href="#">Equality &amp; Diversity</a></li>
                <li><a href="#">Facts &amp; Statistics</a></li>
                <li><a href="#">National 16 to 18 performance tables</a></li>
                <li><a href="#">Corporate Documents</a></li>
                <li><a href="#">College Campuses &amp; Centres</a></li>
                <li><a href="#">College term dates for 2017/ 18</a></li>
                <li><a href="#">College term dates 2018/ 19</a></li>
                <li><a href="#">Keighley College term dates 2018/ 19</a></li>
                <li><a href="#">Knowledge Bank</a></li>
                <li><a href="#">Governance</a></li>
                <li><a href="#">Engagement</a></li>
                <li><a href="#">School Liaison Team</a></li>
                <li><a href="#">Jobs and Careers</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" class=" active sub">Courses &amp; Apprenticeships</a>
            <div class="subnav">
              <ul>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Your Sixth Form</a></li>
                <li><a href="#">Prospectuses</a></li>
                <li><a href="#">Traineeships</a></li>
                <li><a href="#">Apprenticeships</a></li>
                <li><a href="#">How to Apply</a></li>
                <li><a href="#">University Centre</a></li>
                <li><a href="#" class="active">Adult &amp; Part Time Courses</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" class=" sub">Employers</a>
            <div class="subnav">
              <ul>
                <li><a href="#">Apprenticeships For Your Business</a></li>
                <li><a href="#">Apprenticeship Reforms</a></li>
                <li><a href="#">Staff Training</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Our Partners</a></li>
                <li><a href="#">ESIF Funding Partners</a></li>
                <li><a href="#">Documents</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" class=" sub">Student Life</a>
            <div class="subnav">
              <ul>
                <li><a href="#">Student Support</a></li>
                <li><a href="#">Life in Your</a></li>
                <li><a href="#">Fees &amp; Finance</a></li>
                <li><a href="#">Students&#39; Union</a></li>
                <li><a href="#">Sports Academy</a></li>
                <li><a href="#">European Projects</a></li>
                <li><a href="#">Get Active!</a></li>
                <li><a href="#">Learning Support</a></li>
                <li><a href="#">Careers </a></li>
                <li><a href="#">Competition T&amp;C</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" class=" sub">What&#39;s Happening</a>
            <div class="subnav">
              <ul>
                <li><a href="#">Events</a></li>
                <li><a href="#">News</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">Contact</a></li>
          <li><a href="#" class="icon-basket">Store</a></li>

          <li><a href="#" target="_self">Portal</a></li>
        </ul>
      </nav>


      <div class="close"></div>
    </div>
    <section class="search-form" style="display: none;">
      <div class="row">
        <div class="span12">
          <div class="form">
            <form action="/search/" method="GET">
              <input type="search" id="q" name="q" placeholder="Search..." />
              <button type="submit" class="button">Search</button>
            </form>
          </div>
        </div>
      </div>
    </section>



    <section class="large-image">
      <div class="image" style="background-image:url('/public/images/community_header.jpg')"></div>


      <div class="page-intro left align-left higher-ed">

        <div style="height: 100%; display: flex; flex-direction: column; justify-content:center">
          <div>
          <h1 class="title">Functional Skills Maths for Adults</h1>



          <a href="#more" class="button higher-ed">Find out more </a>


        </div>
        </div>
      </div>
      <div class="logo-header navpadding hide-in-tablet">
        <div class="row">
          <div class="span6 logo">
            <a href="#">
              <img src="/public/images/citycollege.png" alt="Logo" width="130"></a>
          </div>
          <div class="span6 tel">
            <span>&nbsp;0123 456 7890</span>
          </div>
        </div>
      </div>
    </section>
    <section id="more" class="imagepadding">


      <section class="content-page rich-text">
        <div class="row page-content-header">
          <div class="span8">
            <h2 style="font-size:28px;"><span class="title">Functional Skills Maths for Adults</span> course for adults</h2>
          </div>
          <div  class="span8">
            <p style="font-size:20px;">Effective communication is possibly the one of the most important skills we can learn. The better we are at communicating, the more successful we are at life. This course has been designed to help people learn what it means to be an effective communicator, to help them develop their speaking skills and to help them improve their interpersonal skills.</p>
<p style="font-size:20px;">The course in made up of six units. These insightful modules have been designed to clearly explain the important aspects of communication and help students to apply these skills in everyday situations. From communicating by telephone and online, to writing efficiently and listening effectively, this communications skills course will help students master the art of communication.</p>
          </div>
          <div class="span1">

          </div>

        </div>
      </section>
      <section class="content-page rich-text" >
        <div style="display: flex;" class="row page-content-header">

        <div style=" margin: 0 2em 0 0">
          <h3>Online in your own time</h3>
          <ul>
            <li>Cost £50</li>
            <li>Fully flexible</li>
            <li>Course content online</li>
            <li>Tutor support by email</li>
            <li>Start date: Anytime</li>
          </ul>
          <a href="./email-1"><strong>Apply</strong></a>
        </div>
        <div style=" margin: 0 2em 0 0" class="">
          <h3>Part time</h3>
          <ul>
            <li>Cost £100</li>
            <li>Flexible over 10 weeks</li>
            <li>Online classes with a tutor</li>
            <li>College classes for 4 half days</li>
            <li>Start date: 1st of every month</li>
          </ul>
          <a href="./email-1"><strong>Apply</strong></a>
        </div>
        <div style=" margin: 0 2em 0 0" class="">
          <h3>Full time</h3>
          <ul>
            <li>Cost £250</li>
            <li>Intensive over 7 days</li>
            <li>Online classes with a tutor </li>
            <li>College classes for 3 days</li>
            <li>Start date: September 2019</li>
          </ul>
          <a href="./email-1"><strong>Apply</strong></a>
        </div>
      </div>

      </section>


    </section>



    <footer>


      <section class="light-blue">
        <div class="row equal-height-group">


        </div>
      </section>
      <section class="dark-blue">
        <div class="row">
          <div class="span2 logo">
            <img src="/public/images/citycollege.png" alt="Your City College">
          </div>
          <div class="span10 links">
            <span class="copyright">&copy; 2019 Your City College</span>

          </div>
        </div>
      </section>
    </footer>
  </div>
  <!--[if lt IE 9]>
	<script type="text/javascript" src="/common/vendor/pie/PIE.js"></script>
	<script type="text/javascript" >$(function() { if (window.PIE) { $('.page-intro').each(function() { PIE.attach(this); }); $('.rounded').each(function() { PIE.attach(this); }); $('.circles .circle').each(function() { PIE.attach(this); });}});</script>
<![endif]-->

<script type="text/javascript">


  // get data from nunjucks
  var data = {{ courses | dump | safe }};

  // get chosen job from localStorage
  var index = JSON.parse(localStorage.getItem('course'));

  let college = document.getElementById('college');
  let titles = document.getElementsByClassName('title');
  let distance = document.getElementById('distance');

  Array.from(titles).map(title => {
    title.innerText = data[index].name
  })

  distance.innerText = data[index].distance
  college.innerText = data[index].college


</script>
</body>

</html>
